<br>
<br>

  <!-- <form id="entry_form" action"/entry/create_entry" method="post" class="form-horizontal"> -->
    <form id="entry_form" class="form-horizontal">
    <div id="the_div"></div>
    <div class="form-group">
      <input type="hidden" name="user_id" value="<%= @user_id%>" id="user_id">
      <label for="entry_title" class="col-sm-1 control-label">Title</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="title" id="title" placeholder="Title Your Entry!"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="entry_place" class="col-sm-1 control-label">Place</label>
      <div class="col-sm-3">
        <input id="autocomplete" placeholder="Start Typing a Location" class="form-control" type="text"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="entry_date" class="col-sm-1 control-label">Date Visited</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" name="entry_date" id="entry_date" placeholder="Date"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="journal_entry" class="col-sm-1 control-label">Thoughts</label>
        <div class="col-sm-3">
          <textarea class="form-control" name="journal_snippet" id="journal_snippet" rows="6" placeholder="Type Your Journal Entry Here!"></textarea>
        </div>
      </div>
      <div class="form-group">

      </div>
      </form>
      <div class="col-sm-offset-2 col-sm-10">
        <button id="entry_submit" class="btn btn-default">Publish!</button>
      </div>

      <script>

      var idObject = {};

      var id_post = {
        type: "POST",
        url: '/entry/create_entry',
        data: idObject,
        success: function(dataType){
          //console.log(idObject['whatever'].toString())
          console.log(idObject)
          console.log('successs bithces')
        },
        error: function(err){
          console.log('Didnt work')
        }
      }

      window.onload = function() {
      // start Google Maps script for Autocomplete
        var autocomplete;
        var placeNumber;

        // Set the default area bias - (Entire Earth)
        var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-90, -180),
        new google.maps.LatLng(90, 180)
        );

        var input = document.getElementById("autocomplete")  //Specify textbox
        var options = {              //Set options for search bar
          bounds: defaultBounds
        };

        function initialize(){
        autocomplete = new google.maps.places.Autocomplete(input,options);
        autocomplete.addListener('place_changed',getPlaceId);
        };

        function getPlaceId(){
          var place = autocomplete.getPlace();
          placeNumber = place.place_id;
          console.log(placeNumber);
          idObject.whatever=placeNumber;
        };

        btn = document.getElementById("entry_submit");
        btn.onclick = function(event){

          var user_id = $('#user_id').val();
          idObject.user_id = user_id;
          var title = $('#title').val();
          idObject.title = title;
          var entry_date = $('#entry_date').val();
          idObject.entry_date = entry_date;
          var journal_snippet = $('#journal_snippet').val();
          idObject.journal_snippet = journal_snippet;
          console.log(id_post.data)
          $.ajax(id_post);
        }

        initialize();
      };

      </script>
