<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meanderings Mapped</title>
  </head>
  <body>
    <header>
      <h1>Meanderings Mapped</h1>
        <h3>A travel tracking and journaling application</h3>
    </header>

    <%= yield %>

  </body>
</html>
