<h1>Profile Page</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">About</div>
      <div class="panel-body" id="image_new">
        <p>Placeholder for profile image</p>
      </div>
    <!-- Table -->
    <table class="table">
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>Name</td>
          <td>
            <%= user.profile_name %>
          </td>
        </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= user.date_of_birth %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= user.city %>
        </td>
      </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= user.bio %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
