<h1 id="profile_head">Profile Page</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">About</div>
      <div class="panel-body" id="image_new">
        <p>Placeholder for profile image</p>
      </div>
    <!-- Table -->
    <table class="table">
      <tbody>
        <% @profiles.each do |profile| %>
        <tr>
          <td>Name</td>
          <td>
            <%= profile.profile_name %>
          </td>
        </tr>
      <tr>
        <td>Age</td>
        <td>
          <%= profile.date_of_birth %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= profile.city %>
        </td>
      </tr>
      <tr>
        <td>Bio</td>
        <td>
          <%= profile.bio %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
