<br>
<br>

  <form class="form-horizontal" action="/profile/create" method="post">
    <div class="form-group">
      <input type="hidden" name="user_id" value="<%= @user_id%>">
      <label for="register_name" class="col-sm-1 control-label">Name</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="profile_name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="birthday" class="col-sm-1 control-label">Date of Birth</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" name="date_of_birth" placeholder="Date of Birth">
      </div>
    </div>
    <div class="form-group">
      <label for="location" class="col-sm-1 control-label">Lives in</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="city" placeholder="City Name">
      </div>
    </div>
    <div class="form-group">
      <label for="bio" class="col-sm-1 control-label">Biography</label>
        <div class="col-sm-3">
          <textarea class="form-control" rows="6" name='bio' placeholder="Bio Info"></textarea>
        </div>
      </div>
        <div class="form-group">
          <label for="photoInputFile" class="col-sm-1 control-label">Image upload</label>
            <div class="col-sm-3">
            <input type="file" name="image">
            <input type="hidden" name="image_as_base64" id="base">
            <!-- <input type="submit" value="Upload"> -->
        <div id="profile_pic"></div>
      <p class="help-block">Select & upload profile picture</p>
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="create_profile" class="btn btn-default">Create Profile</button>
      </div>
    </div>
  </form>

<script type="text/javascript">
  $(document).ready(function(){

    // select our input DOM element with a type of file
  var fileInput = document.querySelector('input[type="file"]');
  var hiddenFileForParams = document.querySelector('#base');

  fileInput.addEventListener('change', function() {
  var fileAsBase64 = convertToBase64(fileInput.files[0], hiddenFileForParams, addImage);
  });

  function convertToBase64(binaryData, hiddenInput, callback) {
  var reader = new FileReader();
  reader.onload = function (event) {
  // try to read whatever file has been 'readAsDataURL'
    try {
      // event target result is our base64 encoded type
      // this is whatever file has been reader during 'readAsDataURL'
      console.log("File as base 64:");
      console.log(event.target.result);
      // pass our base64 object on to our callback
      hiddenInput.value = event.target.result;
      callback(event.target.result);
      return(event.target.result);
      // catch an error if one occurs...
    }
      catch (ex) {
        // output a warning in the DevTools console
        throw new Error("Couldn't convert file: " + ex);
      }
    }
    // read the file argument
    reader.readAsDataURL(binaryData);
  };

  function addImage(base64Image) {
  if (!base64Image) return;
  var imageContainer = document.getElementById('profile_pic');
  var img = document.createElement('img');
  img.src = base64Image;
  profile_pic.appendChild(img);
    document.getElementById('create_profile').onclick = function profilePic(){
      console.log('button click works');
      var imageContainer = document.getElementById('new_image');
      var img = new Image();
      image.src = 'data:image/png;base64,iVBORw0K...';
      image_new.appendChild(image);
    }
  } // end addImage function
}); // end of document.ready
</script>
