$margin-left: 50px;

body {
  padding-top: 70px;
  background: rgb(116, 202, 238) !important;
}

#nav_bar {
  max-width: 98%;
  max-height: 98%;
}

img {
  width: 80px;
  height: 80px;
}

.panel.panel-default {
  margin: $margin-left;
  width: 30%;
}

#profile_head {
  margin: $margin-left;
}

#meander {
  margin-top: 140px;
  text-align: center;
}
