$margin-left: 50px;

body {
  padding-top: 70px;
  background: rgb(116, 202, 238) !important;
}

#nav_bar {
  max-width: 98%;
  max-height: 98%;
}

#paris {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}

.panel.panel-default {
  margin: $margin-left;
  width: 30%;
}

#profile_head {
  margin: $margin-left;
}

.imageContainer{
  max-width: 130px;
  max-height: 130px;
}

.imageContainer img {
  height: auto;
  width: 100%;
}

#profile_pic img {
  height: 70px;
  width: 80px;
}

#meander {
  margin-top: 40px;
  text-align: center;
}
